<!doctype html>
<title>Ebay Price Statistics</title>
{% include 'search_header.html' %}
{% for category in categories %}

  	<a href="/statistics/{{searchTerm}}/{{category['categoryId']}}">{{ category['categoryName'] }}</a>
  	&nbsp;-&nbsp;<a href="/findCategory/{{searchTerm}}/{{category['categoryId']}}">Refine</a>
  	<br>
  	{% for childCategory in category['childCategoryHistogram'] %}
  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/statistics/{{searchTerm}}/{{childCategory['categoryId']}}">{{ childCategory['categoryName'] }}</a>
		&nbsp;-&nbsp;<a href="/findCategory/{{searchTerm}}/{{childCategory['categoryId']}}">Refine</a>
  		<br>
  	{% endfor %}
{% endfor %}
