<!doctype html>
<title>Potential buys for {{searchTerm}}></title>
<b>{{searchTerm}} under ${{stats['good_deal']}} ending in the next {{add_minutes}} minutes.</b><br>
${{stats['great_deal']}} is a great deal.<br>
Average price: ${{stats['mean_price']}}.<br>
Standard deviation: ${{stats['price_std_dev']}}.<br>
{{stats['sold']}} sold and {{stats['unsold']}} unsold between {{stats['earliest_sold_date']}} and {{stats['latest_sold_date']}}<br><br>
{% for item in items %}
	{{item['title']['value']}}<br>
	<a target="_blank" href="{{item['viewItemURL']['value']}}">View Item</a><br>
{% endfor %}

