<!doctype html>
<title>Ebay Price Statistics</title>
{% include 'search_header.html' %}
{{searchTerm}}<br>
{{categoryName}}<br>
<br>
Sold Listings: {{stats['sold']}}<br>
Unsold Listings: {{stats['unsold']}}<br>
Earliest Sold Date: {{stats['earliest_sold_date']}}<br>
Latest Sold Date: {{stats['latest_sold_date']}}<br>
<br>
Average Price: ${{stats['mean_price']}}<br>
Standard Deviation: ${{stats['price_std_dev']}}<br>
<b>Good Deal: ${{stats['good_deal']}}</b><br>

<br>
<br>
Conditions - <br>
{% for condition in foundConditions %}
	{{condition}}<br>
{% endfor %}
<br>

<a target="_blank" href="/findPotentialBuys/{{searchTerm}}/{{categoryId}}">Find great deals ending in 15 minutes or less</a>
