<!doctype html>
<title>Ebay Price Statistics</title>
{% include 'search_header.html' %}
{{searchTerm}}<br>
{{categoryName}}<br>
<br>
<table>
   <tr><td>Sold Listings</td><td>{{stats['sold']}}</td></tr>
   <tr><td>Unsold Listings</td><td>{{stats['unsold']}}</td></tr>
   <tr><td>Earliest Sold Date</td><td>{{stats['earliest_sold_date']}}</td></tr>
   <tr><td>Average Price</td><td>${{stats['mean_price']}}</td></tr>
   <tr><td>Standard Deviation</td><td>${{stats['price_std_dev']}}</td></tr>
   <tr><td>Good Deal</td><td>${{stats['good_deal']}}</td></tr>
</table>
<table>
   <tr>
      <td>{{stats['sold']}}</td>
      <td>{{stats['unsold']}}</td>
      <td>{{stats['earliest_sold_date']}}</td>
      <td>${{stats['mean_price']}}</td>
      <td>${{stats['price_std_dev']}}</td>
      <td>${{stats['good_deal']}}</td>
   </tr>
</table>



<br>
<br>
Conditions - <br>
{% for condition in foundConditions %}
	{{condition}}<br>
{% endfor %}
<br>

<a target="_blank" href="/findPotentialBuys/{{searchTerm}}/{{categoryId}}">Find great deals ending in 15 minutes or less</a>
