<!doctype html>
<title>Ebay Price Statistics</title>
{% include 'search_header.html' %}
{{searchTerm}}<br>
{{categoryName}}<br>
<br>
Sold Listings: {{sold}}<br>
Unsold Listings: {{unsold}}<br>
Earliest Sold Date: {{earliestSoldDate}}<br>
Latest Sold Date: {{latestSoldDate}}<br>
<br>
Average Price: ${{meanPrice}}<br>
Standard Deviation: ${{priceStdDev}}<br>
<b>Good Deal: ${{goodDeal}}</b><br>
<b>Great Deal: ${{greatDeal}}</b>

<br>
<br>
Conditions - <br>
{% for condition in foundConditions %}
	{{condition}}<br>
{% endfor %}
<br>

<a target="_blank" href="/findPotentialBuys/{{searchTerm}}/{{categoryId}}/{{greatDeal}}">Find great deals ending in 15 minutes or less</a>